<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="bayar.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="#" method="POST">
            <div class="jumlah">
                <p>Total yang harus dibayar: <b>Rp 36.000</b></p>
            </div>
            <div class="bawah">
                <select class="custom-select">
                    <option selected>Pilih opsi Pembayaran</option>
                    <option value="1">BRI</option>
                    <option value="2">Mandiri</option>
                    <option value="3">Indomaret</option>
                    <option value="4">Alfamart</option>
                </select>
            </div>
            <div class="tombol">
                <button class="btn btn-primary" name="button">Proses</button>
            </div>
        </form>
    </div>
</body>

</html>