<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="checkout.css">
    <link rel="stylesheet" href="../assets/font/css/all.css">
    <title>Document</title>
</head>

<body>
    <div class="tombol">
        <a href="#" class="btn btn-danger" id="tombol">Kembali</a>
    </div>
    <div class="gambar">
        <img src="../assets/cash.png" alt="foto" width="250px" height="200px">
    </div>
    <div class="judul">
        <p>Checkout pesanan anda</p>
    </div>
    <div class="container-fluid">
        <div class="tulisan">
            <p>list pesanan</p>
        </div>
        <a href="" class="btn btn-success" id="bayar">Pembayaran</a>

        <div class="">

        </div>
    </div>

</body>

</html>